{% load tz %}

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Data</th>
        <th>Marcações</th>
    </tr>
    </thead>
    {% for register in registers %}
        <tr>
            <td>{{ register.date }}</td>
            <td>
                {% for entry in register.entries %}
                    <a href="{% url 'core:register' entry.pk %}">
                        <span class="label label-primary" style="margin-left: 5px;">
                            {{ entry.time|date:"H:i:s" }}
                        </span>
                    </a>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>